///////////////
// UTILITIES //
///////////////

@import './functions/strip-unit';

///////////////
// Bootstrap //
///////////////

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

///////////////////////////////////
// MATERIAL DESIGN COLOR PALETTE //
///////////////////////////////////

@import 'sass-md-colors/colors/variables';

////////////
// NAVBAR //
////////////

$navbar-height:                     56px !default;

/////////////
// FOOTER  //
/////////////

$footer-height: 45px !default;

///////////////////
// SIDEBAR SIZES //
///////////////////

$sidebar-sizes: (
    1: 56px,
    2: 200px,
    3: 250px
) !default;

// mini
$sidebar-mini-width:                56px;

//////////////////////////////
// SIDEBAR PERCENTAGE SIZES //
//////////////////////////////

$sidebar-percent-step:              5 !default;
$sidebar-percent-from:              ceil(20 / $sidebar-percent-step) !default;
$sidebar-percent-through:           ceil(100 / $sidebar-percent-step) !default;

/////////////////////
// SIDEBAR GENERAL //
/////////////////////

$zindex-sidebar:                    999 !default;
$sidebar-width:                     250px !default;
$sidebar-font-size:                 15px !default;

// general spacing
$sidebar-spacing:                   $sidebar-font-size * 1.25 !default;
$sidebar-spacing-horizontal:        $sidebar-spacing !default;
$sidebar-spacing-vertical:          $sidebar-spacing !default;

// brand
$sidebar-brand-height:              $navbar-height !default;
$sidebar-brand-size:                1.3rem !default;
$sidebar-brand-weight:              500 !default;
$sidebar-brand-padding:             0 $sidebar-spacing-horizontal !default;

// Heading
$sidebar-heading-font-size:         .9rem !default;
$sidebar-heading-font-weight:       500 !default;
$sidebar-heading-font-family:       $font-family-base !default;
$sidebar-heading-text-transform:    uppercase !default;
$sidebar-heading-letter-spacing:    normal !default;
$sidebar-heading-line-height:       normal !default;
$sidebar-heading-spacing-x:			$sidebar-spacing-horizontal !default;
$sidebar-heading-spacing-y:			$sidebar-spacing-vertical !default;

// menu spacing
$sm-spacing-horizontal:             0 !default;
$sm-spacing-vertical:               $sidebar-spacing-vertical !default;
$sm-button-spacing:                 $sidebar-spacing-horizontal !default;
$ssm-ssm-spacing-horizontal:        $sidebar-spacing-horizontal !default;

// menu buttons
$sm-button-font-size:               $sidebar-font-size !default;
$sm-button-font-weight:             400 !default;
$sm-button-height:                  42px !default;

// menu condensed buttons
$sm-condensed-button-height:        $sm-button-height - ($sm-button-height/4) !default;

// menu icons
$sm-icon-font-size:                 24px !default;
$sm-icon-margin:                    $sidebar-spacing-horizontal * 0.4 !default;
$sm-icon-width:                     $sm-icon-font-size + $sm-icon-margin !default;

// active buttons
$sm-active-button-font-weight:      $sm-button-font-weight !default;

// submenu buttons
$ssm-button-height:                 $sm-button-height !default;
$ssm-button-font-size:              $sm-button-font-size !default;

// submenu condensed buttons
$ssm-condensed-button-height:       $ssm-button-height - ($ssm-button-height/4) !default;

// submenu icons
$ssm-icon-font-size:                $sm-icon-font-size !default;

// menu toggle button indicator
// $sm-toggle-family:                  "FontAwesome" !default;
// $sm-toggle-icon:                    "\f067" !default; // plus
// $sm-open-toggle-icon:               "\f068" !default; // minus
// $sm-toggle-icon:                    "\f078" !default; // chevron-down
// $sm-open-toggle-icon:               "\f077" !default; // chevron-up
$sm-toggle-family:                  "Material Icons" !default;
$sm-toggle-icon:                    "\e5db" !default;
$sm-open-toggle-icon:               "\e5d8" !default;

// label
$sm-label-margin-top:               13px !default;
$sm-label-spacing-horizontal: 		.3rem !default;
$sm-label-spacing-vertical:			.2rem !default;
$sm-label-font-size:				.75rem !default;
$sm-label-width: 					strip-unit($sm-label-font-size) * $sidebar-font-size + strip-unit($sm-label-spacing-horizontal) * $sidebar-font-size;
$sm-label-height: 					strip-unit($sm-label-font-size) * $sidebar-font-size + strip-unit($sm-label-spacing-vertical) * $sidebar-font-size;

// Toggle Bar
$sidebar-toggle-bar-width:          10px !default;

//////////////////
// SIDEBAR DARK //
//////////////////

@import 'variables/sidebar-dark';

///////////////////
// SIDEBAR LIGHT //
///////////////////

@import 'variables/sidebar-light';