html.bootstrap-layout {
	&, 
	body {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
	.layout-content {
		min-width: 320px;
		z-index: $zindex-sidebar - 1;
	}
	&.layout-content,
	.layout-content {
		&:not(.simplebar) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	.layout-container, 
	.layout-content {
		height: 100%;
		position: relative;
	}
	@media print {
		.layout-print .layout-content {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}